.auth__button-submit {
  background-color: #ffffff;
  width: 358px;
  height: 50px;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  margin: 186px 0 0 0;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  padding: 0;
}

.auth__button-submit:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 425px) {
  .auth__button-submit {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 1.21;
    margin: 15px 0 0 0;
  }
}
