.profile__about {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  max-width: 336px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__about{
    font-size: 14px;
    line-height: 1.21;
    max-width: 282px;
    text-align: center;
    padding-bottom: 33px;
  }
}
