.popup__container {
  max-width: 430px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 34px 36px 37px;
  cursor: initial;
}

@media screen and (max-width: 425px) {
  .popup__container  {
    max-width: 232px;
    padding: 26px 22px 25px;
  }
}
